<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
        Patatas Subscribers ToGo
    </span>
    <button style="text-align: right;" class="btn btn-info" (click)="OnLogOut()">LogOut</button>
</nav>
<br><br>

