<app-headers></app-headers>

<div class="container">
  <table class="table table-hover">
    <thead>
      <div style="display: flex">
        <h3>Subscriber-{{ Subscriber.PublicId }}</h3>
        <button
          style="margin: 10px"
          type="button"
          class="btn btn-warning float-rigth"
          (click)="OnEditSubscriber(Subscriber.Id)"
        >
          Edit
        </button>
        <button
          style="margin: 10px"
          type="button"
          class="btn btn-danger float-rigth"
          (click)="OnDeleteSubscriber(Subscriber.Id)"
        >
          Delete
        </button>
      </div>
    </thead>
    <tbody>
      <tr *ngFor="let Key of Keys">
        <th>{{ Key[0] }}</th>
        <td>{{ Key[1] }}</td>
      </tr>
    </tbody>
  </table>
</div>
