<app-headers></app-headers>

<div class="container">
    <form [formGroup]="UpdateSubscriberForm" (ngSubmit) = "OnUpdate(UpdateSubscriberForm.value)">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Name</label>
            <input type="text" class="form-control" id="validationDefault01" [value]="Subscriber.Name" formControlName="Name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Phone number</label>
            <input type="text" class="form-control" id="validationDefault02" [value]="Subscriber.PhoneNumber" formControlName="PhoneNumber" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" [value]="Subscriber.Email" formControlName="Email" aria-describedby="inputGroupPrepend2" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationDefault03">Country name</label>
            <input type="text" class="form-control" id="validationDefault03" [value]="Subscriber.CountryName" formControlName="CountryName" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault04">Country code</label>
            <input type="text" class="form-control" id="validationDefault04" [value]="Subscriber.CountryCode" formControlName="CountryCode" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault05">Job title</label>
            <input type="text" class="form-control" id="validationDefault05" [value]="Subscriber.JobTitle" formControlName="JobTitle" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationDefault05">Area</label>
            <input type="text" class="form-control" id="validationDefault05" [value]="Subscriber.Area" formControlName="Area" required>
          </div>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
</div>
