<app-headers></app-headers>

<div class="container">
    <form [formGroup]="CreateSubscriberForm" (ngSubmit)="OnCreate(CreateSubscriberForm.value)">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">Name</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="Name" value="" formControlName="Name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Phone Number</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="Phone Number" value="" formControlName="PhoneNumber" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Email" formControlName="Email" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault03">Country Name</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="Country" formControlName="CountryName" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault04">Country Code</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="country code" formControlName="CountryCode" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault05">Job title</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Profession" formControlName="JobTitle" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault05">Area</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Area" formControlName="Area"required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Save Create</button>
      </form>
</div>
