<app-headers></app-headers>


<div class="container">

    <mat-paginator [length]="Clients.Data.length"
     [pageSize]="Page_size"
     [pageSizeOptions]="PageSizeOptions"
     (page)="handlePage($event)"
     showFirstLastButtons>
    </mat-paginator><br><br>
    <div class="container_button">
      <h3>List Subscribers</h3>
      <form action="" method="post" target="_blank">
        <p>
          Search by criteria: 
          <input type="search" name="busqueda" placeholder="Name, Number Id ETC..">
          <input type="submit" value="Search">
        </p>
      </form>
      <form action="" target="_blank">
        <p>
          Sort Order:
          <select name="Order">
            <option>Public Id</option>
            <option>Area</option>
            <option>Name</option>
            <option>Email</option>
          </select>
        </p>
      </form>
      <form action="" target="_blank">
        <p>
          Sort Type:
          <select name="Type">
            <option>Falling</option>
            <option>Upward</option>
          </select>
        </p>
      </form>
      <button
        type="button"
        class="btn btn-primary"
        (click)="CreateSubscriber()"
      >
        Create subscriber
      </button>
    </div><br>
    
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Subscription Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let Client of Clients.Data | Pagination:Page_size:Page_number"
          (click)="GetSubscriber(Client.Id)"
        >
          <td>{{ Client.PublicId }}</td>
          <td>{{ Client.Name }}</td>
          <td>{{ Client.Email }}</td>
          <td>{{ Client.PhoneCodeAndNumber }}</td>
          <td>{{ Client.SubscriptionDate }}</td>
        </tr>
      </tbody>
    </table><br>
    <h3>Total de subscriptores: {{ Clients.Count }}</h3>
</div>

